html,
body {
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 5;
	background: #ecf0f1;
	color: #34495e;
	line-height: 1em;
	width: 80%;
	height: 100%;
}

.btn {
	position: relative;

	/* margin: 10px 10px; */
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0;

	overflow: hidden;

	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

	background-color: #46729e;
	color: #ecf0f1;

	transition: background-color .3s;
	font-size: 16px;
	width: 100px;
}

.btn:hover,
    .btn:focus {
      background-color: #5689bc;
    }

.btn>* {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


#piano-keys{
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin: 0;
}

.piano-key {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.piano-key.white {
  transition: background-color .15s ease;
  height: 20vh;
}

.piano-key.white.eb{
  border-right: 4px solid rgb(0,0,0);
}

.piano-key.black{
  height: 10vh;
  position: absolute;
  margin-bottom: 10vh;
  border: 4px solid black;
  border-top: none;
  z-index: 200;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(211, 0, 158),orange, yellow);
  background-size: 100vw;
  background: black;
}

.piano-key.black > div {
  height: 10vh;
  width: 4px;
  background: black;
  position: absolute;
  bottom: calc(-10vh - 4px);
}

.piano-key.white:last-child{
  border-right: 4px solid rgb(0,0,0);
}

@keyframes blinkNote {
  from{
    filter: brightness(3)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes reverseBlinkNote {
  from {
    filter: brightness(0.33)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes fadeIn {
  from{
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
